form{
    width: 500px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0px 3px 10px #c2c2c2;
    p{
        color: rgb(255, 142, 142);
    }

    .row{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .boton{
        display: flex;
        justify-content: center;
    }
}